<h1>List of bookmarks</h1>
<ul>
	<% @bookmarks.each do |bookmark| %>
	<li>
		<%= bookmark.title %>
		<% if bookmark.favorite %>
		***
		<% end %>
		<br>
		<%= bookmark.url %><br>
		<%= link_to 'Show', bookmark_path(bookmark) %><br>
		<%= link_to 'edit', edit_bookmark_path(bookmark) %><br>
		<%= link_to 'delete', bookmark_path(bookmark), method: :delete %>
		<br>
	</li>
	<% end %>

	<%= link_to "New Bookmark", new_bookmark_path %>
</ul>

