<h2>Your Aweosme Bookmarks List</h2>
<div class="row">
	
	<%= will_paginate @books %>
	<% if @books.present? %>
	<% @books.each do |bookmark| %>
	<div class="col-md-4 col-sm-6">
		<div class="bookmark">
			<div class="bookmark-body">
				<p class="icons clearfix">
				<span class="pull-left">
					<%= link_to edit_bookmark_path(bookmark) do%>
						<i class="fa fa-pencil" aria-hidden="true"></i>
					<% end %>
				</span>
				<span class="pull-left delete">
					<%= link_to bookmark_path(bookmark), method: :delete do%>
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					<% end %>
				</span>
				<span class="pull-right">
					<% if bookmark.favorite %>
					<i class="fa fa-star" aria-hidden="true"></i>
					
					<% end %>
				</span>
				</p>
				<div class="bookmark_desc">
				<h3><%= bookmark.title %></h3>

				<p class="description"><%= bookmark.description %> </p>
				<p><%= link_to bookmark.url, bookmark.url, class: 'urls' %></p>
				</div>
				<p class="time">
					<%= bookmark.created_at.to_s(:long) %>						
				</p>
			</div>
		</div>
	</div>
	<% end %><br /><br /> 
	<%= will_paginate @books %>
	<% else %>
	<div class="col-sm-12">
		<h4> No bookmarks to show</h4>
	</div>
	<% end %>
</div>


